@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: black;
  color: white;
}

html {
  @apply bg-black dark:bg-white;
}

body {
  @apply text-white dark:text-black;
}

:root {
  --font-primary: "Source Sans 3", sans-serif; /* Default font for the website */
  --font-heading: "Inter", sans-serif; /* Font for h1, h2, h3 */
}

body {
  font-family: var(
    --font-primary
  ); /* Apply Source Sans 3 to the entire website */
}

h1,
h2,
h3 {
  font-family: var(--font-heading); /* Apply Inter to headings */
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* For Chrome, Edge, and Safari */
* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

input::placeholder {
  color: white;
}

.bg-red {
  background-color: #ee1864;
}

.text-red {
  color: #ee1864;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    border-color: var(--border); /* Apply the custom border color variable */
  }

  body {
    @apply bg-background text-foreground;
  }
}

.logos--paypal {
  display: inline-block;
  width: 20.35px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 302'%3E%3Cpath fill='%2327346a' d='M217.168 23.507C203.234 7.625 178.046.816 145.823.816h-93.52A13.39 13.39 0 0 0 39.076 12.11L.136 259.077c-.774 4.87 2.997 9.28 7.933 9.28h57.736l14.5-91.971l-.45 2.88c1.033-6.501 6.593-11.296 13.177-11.296h27.436c53.898 0 96.101-21.892 108.429-85.221c.366-1.873.683-3.696.957-5.477q-2.334-1.236 0 0c3.671-23.407-.025-39.34-12.686-53.765'/%3E%3Cpath fill='%2327346a' d='M102.397 68.84a11.7 11.7 0 0 1 5.053-1.14h73.318c8.682 0 16.78.565 24.18 1.756a102 102 0 0 1 6.177 1.182a90 90 0 0 1 8.59 2.347c3.638 1.215 7.026 2.63 10.14 4.287c3.67-23.416-.026-39.34-12.687-53.765C203.226 7.625 178.046.816 145.823.816H52.295C45.71.816 40.108 5.61 39.076 12.11L.136 259.068c-.774 4.878 2.997 9.282 7.925 9.282h57.744L95.888 77.58a11.72 11.72 0 0 1 6.509-8.74'/%3E%3Cpath fill='%232790c3' d='M228.897 82.749c-12.328 63.32-54.53 85.221-108.429 85.221H93.024c-6.584 0-12.145 4.795-13.168 11.296L61.817 293.621c-.674 4.262 2.622 8.124 6.934 8.124h48.67a11.71 11.71 0 0 0 11.563-9.88l.474-2.48l9.173-58.136l.591-3.213a11.71 11.71 0 0 1 11.562-9.88h7.284c47.147 0 84.064-19.154 94.852-74.55c4.503-23.15 2.173-42.478-9.739-56.054c-3.613-4.112-8.1-7.508-13.327-10.28c-.283 1.79-.59 3.604-.957 5.477'/%3E%3Cpath fill='%231f264f' d='M216.952 72.128a90 90 0 0 0-5.818-1.49a110 110 0 0 0-6.177-1.174c-7.408-1.199-15.5-1.765-24.19-1.765h-73.309a11.6 11.6 0 0 0-5.053 1.149a11.68 11.68 0 0 0-6.51 8.74l-15.582 98.798l-.45 2.88c1.025-6.501 6.585-11.296 13.17-11.296h27.444c53.898 0 96.1-21.892 108.428-85.221c.367-1.873.675-3.688.958-5.477q-4.682-2.47-10.14-4.279a83 83 0 0 0-2.77-.865'/%3E%3C/svg%3E");
}

.magic-card-bg {
  background-color: #171717;
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.logos--paypal {
  display: inline-block;
  width: 20.35px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 302'%3E%3Cpath fill='%2327346a' d='M217.168 23.507C203.234 7.625 178.046.816 145.823.816h-93.52A13.39 13.39 0 0 0 39.076 12.11L.136 259.077c-.774 4.87 2.997 9.28 7.933 9.28h57.736l14.5-91.971l-.45 2.88c1.033-6.501 6.593-11.296 13.177-11.296h27.436c53.898 0 96.101-21.892 108.429-85.221c.366-1.873.683-3.696.957-5.477q-2.334-1.236 0 0c3.671-23.407-.025-39.34-12.686-53.765'/%3E%3Cpath fill='%2327346a' d='M102.397 68.84a11.7 11.7 0 0 1 5.053-1.14h73.318c8.682 0 16.78.565 24.18 1.756a102 102 0 0 1 6.177 1.182a90 90 0 0 1 8.59 2.347c3.638 1.215 7.026 2.63 10.14 4.287c3.67-23.416-.026-39.34-12.687-53.765C203.226 7.625 178.046.816 145.823.816H52.295C45.71.816 40.108 5.61 39.076 12.11L.136 259.068c-.774 4.878 2.997 9.282 7.925 9.282h57.744L95.888 77.58a11.72 11.72 0 0 1 6.509-8.74'/%3E%3Cpath fill='%232790c3' d='M228.897 82.749c-12.328 63.32-54.53 85.221-108.429 85.221H93.024c-6.584 0-12.145 4.795-13.168 11.296L61.817 293.621c-.674 4.262 2.622 8.124 6.934 8.124h48.67a11.71 11.71 0 0 0 11.563-9.88l.474-2.48l9.173-58.136l.591-3.213a11.71 11.71 0 0 1 11.562-9.88h7.284c47.147 0 84.064-19.154 94.852-74.55c4.503-23.15 2.173-42.478-9.739-56.054c-3.613-4.112-8.1-7.508-13.327-10.28c-.283 1.79-.59 3.604-.957 5.477'/%3E%3Cpath fill='%231f264f' d='M216.952 72.128a90 90 0 0 0-5.818-1.49a110 110 0 0 0-6.177-1.174c-7.408-1.199-15.5-1.765-24.19-1.765h-73.309a11.6 11.6 0 0 0-5.053 1.149a11.68 11.68 0 0 0-6.51 8.74l-15.582 98.798l-.45 2.88c1.025-6.501 6.585-11.296 13.17-11.296h27.444c53.898 0 96.1-21.892 108.428-85.221c.367-1.873.675-3.688.958-5.477q-4.682-2.47-10.14-4.279a83 83 0 0 0-2.77-.865'/%3E%3C/svg%3E");
}

/* Sticky Mega Menu */
.mega-menu {
  position: sticky;
  top: 4rem; /* Adjust according to your navbar height */
  display: flex;
  flex-direction: column;
  width: 100%; /* Or limit the width to the corresponding nav item */
  padding: 1rem; /* Optional padding */
  background-color: black; /* Match your design */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
  z-index: 99; /* Ensure it appears above other elements */
}

.scrollbar-hide {
  /* Hides scrollbar but keeps functionality */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.aspect-portrait {
  position: relative;
  width: 100%;
  padding-top: 150%; /* 2:3 aspect ratio */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Black background with opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

.cart-card {
  display: grid;
  grid-template-columns: 22% 36% 20% 22%;
}

.cart-card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-column-start: 1;
}

.cart-card-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  grid-column-start: 2;
}

.cart-card-3 {
  display: flex;
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.cart-card-4 {
  display: flex;
  width: 100%;
  height: 100%;
  grid-column-start: 4;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .cart-card {
    display: grid;
    grid-template-columns: 32% 38% 30%;
  }

  .cart-card-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86%;
    height: 100%;
    grid-column-start: 1;
  }

  .cart-card-3 {
    grid-column-start: 3;
    grid-row-start: 1;
    height: 50%;
  }

  .cart-card-4 {
    grid-column-start: 3;
    grid-row-start: 2;
    height: 50%;
  }
}

.cart-card-two {
  display: grid;
  grid-template-columns: 35% 60% 5%;
}

.cart-card-1-two {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89%;
  height: 100%;
  grid-column-start: 1;
}

.cart-card-2-two {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  grid-column-start: 2;
}

.cart-card-3-two {
  display: flex;
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.debug {
  border: solid 1px red;
}

@media (hover: hover) {
  .hover-enabled:hover {
    /* Your hover styles here */
    opacity: 0.8;
  }
}

/* Hide popups by default on touch devices */
@media (hover: none) {
  .popup {
    display: none !important;
  }
}

.max-w-7xl {
  max-width: 100% !important; /* Default for smaller devices */
}

@media (min-width: 1024px) { /* Adjust breakpoint as needed */
  .max-w-7xl {
    max-width: 68% !important;
  }
}







